@charset "UTF-8";

// Button
//
// スタンダードなボタン
//
// :hover   - ホバーすると色が変わる
//
// Markup:
// <button class="btn primary">ボタン</button>
//
// Styleguide 1.0.0
.btn.primary {
  color: #fff;
  background-color: black;
  &:hover {
    background: gray;
  }
}
